@font-face {
    font-family: "IBM_Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/IBMFont/IBMPlexSansKR-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "IBM_Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/IBMFont/IBMPlexSansKR-Bold.ttf") format("ttf");
}